In [12]:
import json
import cx_Oracle
import os

In [13]:
user = 'HLF'
passwd = 'HLF'
url = 'localhost/xe'
pool = cx_Oracle.SessionPool(user, passwd, url)

In [14]:
query = """
select * 
from hlf.bc_valid_tx_write_set 
where block = :b
order by txseq, item"""

In [15]:
block = 53319
cnx = pool.acquire()
cur = cnx.cursor()
res = cur.execute(query, b=block).fetchall()

In [36]:
df = pd.DataFrame(res, columns=['block', 'txseq', 'item', 'key', 'valie', 'isdelete']) 
df.drop('block', axis=1, inplace=True)

In [49]:
new = df["key"].str.split("#", n=1, expand=True)
personaid = new[0].str.split(":", n=1, expand=True)
component = new[1].str.split(":", n=1, expand=True)
df["personaid"] = personaid[1]
df["componentid"] = component[0]
df["componentval"] = component[1]

In [50]:
df.head()

,txseq,item,key,valie,isdelete,personaid,componentid,componentval
0,0,0,per:30120078328#per,"{""tipo"":""J"",""id"":30120078328,""tipoid"":""C"",""est...",None,30120078328,per,None
1,0,1,per:30120078328#wit,1,None,30120078328,wit,None
2,1,0,per:30641403268#dom:1.1.1,"{""orden"":1,""org"":1,""tipo"":1,""estado"":2,""calle""...",None,30641403268,dom,1.1.1
3,1,1,per:30641403268#dom:1.2.1,"{""orden"":1,""org"":1,""tipo"":2,""estado"":2,""calle""...",None,30641403268,dom,1.2.1
4,1,2,per:30641403268#per,"{""tipo"":""J"",""id"":30641403268,""tipoid"":""C"",""est...",None,30641403268,per,None

In [28]:
new =

In [32]:
new

                       0                 1
0        per:20060302449         dom:1.1.1
1        per:20060302449         dom:1.2.1
2        per:20060302449           eti:108
3        per:20060302449               per
4        per:20060302449               wit
5        per:27026957589   act:1.883-14113
6        per:27026957589         dom:1.1.1
7        per:27026957589         dom:1.2.1
8        per:27026957589            imp:11
9        per:27026957589               per
10       per:27026957589               wit
11       per:20077068229         dom:1.1.1
12       per:20077068229         dom:1.2.1
13       per:20077068229               per
14       per:20077068229             tel:1
15       per:20077068229               wit
16       per:20062908549         dom:1.1.1
17       per:20062908549         dom:1.2.1
18       per:20062908549               per
19       per:20062908549             tel:1
20       per:20062908549               wit
21       per:23110121059         dom:1.1.1
22       per:23110121059         dom:1.2.1
23       per:23110121059               per
24       per:23110121059               wit
25       per:20020519429         dom:1.1.1
26       per:20020519429         dom:1.2.1
27       per:20020519429           eti:108
28       per:20020519429               per
29       per:20020519429             tel:1
...                  ...               ...
1572553  per:20777777778         dom:1.2.1
1572554  per:20777777778         dom:1.3.1
1572555  per:20777777778         dom:1.3.2
1572556  per:20777777778             ema:2
1572557  per:20777777778            imp:11
1572558  per:20777777778            imp:30
1572559  per:20777777778               per
1572560  per:20777777778             tel:1
1572561  per:20104249729  act:1.883-772099
1572562  per:20104249729  act:1.883-773030
1572563  per:20104249729  act:1.883-842100
1572564  per:20104249729         cat:20.61
1572565  per:20104249729         cat:20.62
1572566  per:20104249729         cat:21.11
1572567  per:20104249729       con:5244.98
1572568  per:20104249729         dom:1.1.1
1572569  per:20104249729         dom:1.2.1
1572570  per:20104249729             ema:1
1572571  per:20104249729           eti:108
1572572  per:20104249729            eti:39
1572573  per:20104249729            eti:77
1572574  per:20104249729            imp:11
1572575  per:20104249729            imp:20
1572576  per:20104249729            imp:21
1572577  per:20104249729            imp:30
1572578  per:20104249729           imp:308
1572579  per:20104249729          imp:5243
1572580  per:20104249729          imp:5244
1572581  per:20104249729               per
1572582  per:20104249729             tel:1

[1572583 rows x 2 columns]

In [23]:
txs=df.groupby('txseq')

,item,key,valie,isdelete
txseq,,,,
0,0,per:30120078328#per,"{""tipo"":""J"",""id"":30120078328,""tipoid"":""C"",""est...",None
1,0,per:30641403268#dom:1.1.1,"{""orden"":1,""org"":1,""tipo"":1,""estado"":2,""calle""...",None
2,0,per:30711248168#dom:1.1.1,"{""orden"":1,""org"":1,""tipo"":1,""estado"":6,""calle""...",None
3,0,per:30641063378#dom:1.1.1,"{""orden"":1,""org"":1,""tipo"":1,""estado"":1,""calle""...",None
4,0,per:30120125938#dom:1.1.1,"{""orden"":1,""org"":1,""tipo"":1,""estado"":6,""calle""...",None
5,0,per:30662049618#dom:1.1.1,"{""orden"":1,""org"":1,""tipo"":1,""estado"":6,""calle""...",None
6,0,per:30500039678#act:1.883-651220,"{""org"":1,""actividad"":""883-651220"",""orden"":1,""d...",None
7,0,per:30552816168#act:1.883-202200,"{""org"":1,""actividad"":""883-202200"",""orden"":3,""d...",None
8,0,per:30629145458#act:1.883-492280,"{""org"":1,""actividad"":""883-492280"",""orden"":1,""d...",None
9,0,per:30696139888#act:1.883-201190,"{""org"":1,""actividad"":""883-201190"",""orden"":1,""d...",None
10,0,per:30639169088#act:1.883-131201,"{""org"":1,""actividad"":""883-131201"",""orden"":3,""d...",None
11,0,per:30588092468#dom:1.1.1,"{""orden"":1,""org"":1,""tipo"":1,""estado"":6,""calle""...",None
12,0,per:30662472308#act:900.900-949100.2,"{""org"":900,""actividad"":""900-949100"",""orden"":1,...",None
13,0,per:30707564438#act:1.883-463140,"{""org"":1,""actividad"":""883-463140"",""orden"":1,""d...",None
14,0,per:30505779858#act:1.883-110300,"{""org"":1,""actividad"":""883-110300"",""orden"":1,""d...",None